$color-red: #990000;
$color-dark-red: #791b13;
$color-darkWhite: #e6e4df;
$color-white: #fefffe;
$color-black: #111111;
$color-gray: #777776;
$color-border: #dcdcdc;
$color-lightGray: #2d2f35;
$color-orange: #df3603;
$color-gold: #ffaa00;
$color-green: #056e41;
$color-blue: #006298;
$color-purple: #59264d;
