.side {
  display: flex;
  position: relative;
  &-left {
    background-color: #131c2d;
    color: $color-white;
    height: 100%;
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          cursor: pointer;
        }
      }
    }
    .icon {
      font-size: 2rem;
    }
  }
  &-right {
    background-color: #a5abbd;
    width: 15vw;
    height: 100%;
    position: absolute;
    right: -15vw;
    z-index: 1;
    transform-origin: left;
    &-container {
      margin-top: 2rem;
      padding-left: 1rem;
      position: relative;
      .title {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h1 {
          font-size: 1.5rem;
          font-weight: 500;
        }
        .info-icon {
          cursor: pointer;
        }
      }
      .timer {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 500;
        color: red;
      }
    }
    .information {
      background-color: white;
      color: black;
      padding: 1rem;
      position: absolute;
      top: 10%;
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}
